pip install streamlit==1.41.1
pip install opencv-python==4.7.0
pip install numpy
pip install scikit-image
pip install matplotlib

streamlit==1.41.1
opencv-python==4.7.0
opencv-python-headless
Numpy
Pandas
Scikit-learn 
scikit-image
